body {
    background-color: rgba(193, 216, 220, 0.68);
    min-height: 100vh;
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
}

.text {
    font-size: 14px;
    color:rgb(219, 219, 219);
}

.header{
    display: flex;
    justify-content: space-between;
    gap: 8px;
}
.container {
    display: flex;
    flex:auto;
}
.footer, .header{
    background-color: rgb(143, 138, 138);

}
